{% extends 'base.html.twig' %}

{% block main %}

    
    {%  for  game in games %}
    <h2><a href='{{ path("algq_admin_game_show", {'id':game.id}) }}'>{{ game }}</a></h2>
    <ul>
    {%  for  board in game.boards %}
        <li>{{ board }}
        <ul>
        {%  for  question in board.questions %}
            <li><a href='{{ path("algq_admin_question_show", {'id':question.id}) }}'>{{ question }}</a>
        {%  endfor  %}
        </ul>
    {%  endfor  %}
    </ul>
{%  endfor  %}

    


{% endblock %}

{% block sidebar %}
    <a class='btn btn-primary  btn-block' href='{{ path("algq_admin_game_new")}}'>Nouveau Jeu</a>
{% endblock %}



