

<table class='table table-bordered'>
                <thead>
                    <tr>
                        <th>Ordre</th>
                        <th>Nom</th>
                        <th>Question</th>
                        <th>NbReponses</th>
                        <th>Publiée</th>

                        {% if fields.video.youtube %}
                        {% endif %}
                        {% if fields.video.mpg or  fields.video.videolink %}
                            <th>Video</th>
                        {% endif %}
                        
                        {% if fields.audio.question %}
                        <th>Question</th>
                        {% endif  %}
                        {% if fields.audio.reponse %}
                        <th>Réponse</th>
                        {% endif  %}
                    </tr>
                </thead>
                <tbody>
        {%  for  question in board.questions %}
                    <tr>
                        <td>{{ question.ordre}}</td>
                        <td><a href='{{ path("algq_admin_question_show", {'id':question.id}) }}'>{{ question}}</a></td>
                        <td>{{ question.questionText}}</td>
                        <td>{{ question.answersCount}}</td>
                        <td>
                            {% if question.getPublished %} 
                                <i class="alert-success far fa-check-circle"></i>
                             {% else %}
                                 <i class="alert-danger far fa-circle"></i>
                             {% endif %}

                        </td>
                        {% if fields.video.mpg or  fields.video.videolink %}
                                    {%  if question.questionVideoLink is not empty %}
                                        <td>
                                            <a target='blank' href='{{ question.questionVideoLink}}'><i class="fas fa-video"></i></a>
                                        </td>
                                    {%  elseif question.questionVideo is not empty %}
                                        <td>
                                            <a target='blank' href='/{{ question.questionVideo}}'><i class="fas fa-video"></i></a>
                                        </td>
                                    {%  else %}
                                        <td class='alert-danger'><i class="fas fa-video"></i></td>
                                    {%  endif  %}
                                    
                        {% endif %}
                        
                        {% if fields.audio.question %}
                            {%  if  question.questionAudio is not empty %}
                                <td>
                                    <a target='blank' href='/{{ question.questionAudio}}'><i class="fas fa-volume-up"></i></a>
                                </td>
                            {%  else %}
                                <td class='alert-danger'><i class="fas fa-volume-mute"></i></td>
                            {%  endif  %}
                        {% endif  %}
                        {% if fields.audio.reponse %}
                          {%  if  question.answerAudio is not empty %}
                                <td>
                                    <a target='blank' href='/{{ question.answerAudio}}'><i class="fas fa-volume-up"></i></a>
                                </td>
                            {%  else   %}
                                <td class='alert-danger'><i class="fas fa-volume-mute"></i></td>
                            {%  endif  %}
                        {% endif  %}
                        
                         
                    </tr>
        {%  endfor  %}
                </tbody>
    </table>
                