{% extends 'base.html.twig' %}

{% block main %}

    
<h1><a href='{{ path("algq_admin_game_show", {'id':board.game.id}) }}'>{{ board.game }}</a></h1>
    <h2><a href='{{ path("algq_admin_board_show", {'id':board.id}) }}'>{{ board }}</a></h2>
    <p>
    <br>
    <p>
    <br>
     <table class='table table-bordered'>
                <thead>
                    <tr>
                        <th>Ordre</th>
                        <th>Nom</th>
                        <th>Question</th>
                        <th>NbReponses</th>
                        <th>Publiée</th>
                        <th>Question au</th>
                    </tr>
                </thead>
                <tbody>
        {%  for  question in board.questions %}
                    <tr>
                        <td>{{ question.ordre}}</td>
                        <td><a href='{{ path("algq_admin_question_show", {'id':question.id}) }}'>{{ question}}</a></td>
                        <td>{{ question.questionText}}</td>
                        <td>{{ question.answersCount}}</td>
                        <td>{{ question.published}}</td>
                            {%  if  question.questionAudio is not empty %}
                                <td>
                                    <audio width='30px' controls title='{{ question.questionAudio}}'><source src="/{{ question.questionAudio}}" ></audio> 
                                </td>
                            {%  else %}
                                <td class='alert-danger'></td>
                            {%  endif  %}
                            {%  if  question.answerAudio is not empty %}
                                <td><audio width='30px' controls title='{{ question.answerAudio}}'><source src="/{{ question.answerAudio}}" ></audio> </td>
                            {%  else   %}
                                <td class='alert-danger'></td>
                            {%  endif  %}
                    </tr>
        {%  endfor  %}
                </tbody>
    </table>
                

{% endblock %}


{% block sidebar %}
    {%  if board.deletable %}
            {{ include('@AldafluxGameQuizz/admin/Board/_delete_form.html.twig') }}
    {%  endif  %}
    <p><br>
    <a class="btn btn-lg btn-block btn-warning"  href='{{ path("algq_admin_board_edit", {'id':board.id}) }}'>Modifier</a>
    <p><br>
        
<a class="btn btn-lg btn-block btn-primary"  href='{{ path("algq_admin_board_new_question", {'id':board.id}) }}'>Nouvelle question</a>

{% endblock %}
