{% extends 'base.html.twig' %}

{% block header %}
{% endblock %}

{% block footer %}
        <a onclick="javascript:quitApp();"  id='quit' class='btn'>Quitter l'application</div>
 {% endblock %}

        {% block stylesheets %}
            {{ parent() }}
              <link rel="stylesheet" href="{{ asset('bundles/aldafluxgamequizz/css/bootstrap.css') }}" />
              <link rel="stylesheet" href="{{ asset('bundles/aldafluxgamequizz/css/quizz.css') }}" />
        {% endblock %}
        {% block javascripts %}
             <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
             <script src="{{ asset('bundles/aldafluxgamequizz/js/quizz.js') }}"></script>
        {% endblock %}

{% block body %}
    {{ include('@AldafluxGameQuizz/game/_inc_game_play.html.twig') }}
{% endblock %}


